


/*
     FILE ARCHIVED ON 12:35:44 Jun 04, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:42:26 Nov 22, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.69
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.013
  esindex: 0.014
  cdx.remote: 117.602
  LoadShardBlock: 280.111 (3)
  PetaboxLoader3.datanode: 1435.743 (4)
  load_resource: 1236.519
  PetaboxLoader3.resolve: 64.756
*/