


/*
     FILE ARCHIVED ON 12:34:35 Jun 04, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:42:26 Nov 22, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.665
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 6.569
  LoadShardBlock: 416.695 (3)
  PetaboxLoader3.datanode: 1422.018 (4)
  PetaboxLoader3.resolve: 72.603 (2)
  load_resource: 1289.546
*/