@charset "UTF-8";

a:link {
	color: #aaf;
}

a:hover {
	color: #fff;
}

a:visited {
	color: #aaa;
}

a:active {
	color: #ff0;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 854px;
}

#footer {
	text-align: center;
    font-size: 10px;
    height: 10px;
    padding-top:2px;
    padding-bottom:2px;
    position:fixed;
    bottom:2px;
    right:2px;
}

body, html {
	border: none;
	margin: 0;
	padding: 0;
	background-color: #222;
	color: #e0d0d0;
	background-image:url('https://web.archive.org/web/20100620212814im_/http://www.minecraft.net/img/bg.gif');
	font-weight: normal;
	font-family: sans-serif;
    height:100%;	
}

#toppanel {
	height: 48px;
	background-color: #555;
	background-image:url('https://web.archive.org/web/20100620212814im_/http://www.minecraft.net/img/top-bg.gif');
	border-bottom: 3px solid #000;	
}

#toppanel #prepurchasesplash {
	position: absolute;
	top: 18px;
	left: 66px;
}

#toppanel .buynow {
	float: right;
	position: relative;
	top: 11px;
	padding-left: 8px;
}

#toppanel .donate {
	float: right;
	position: relative;
	top: 14px;
	padding-left: 8px;
}

#toppanel #links {
	float: left;
	margin: 7px;
	font-size: 13px;
}

#toppanel #loginpanel {
	float: right;
	margin: 12px;
	font-size: 18px;
}

#toppanel #logo {
	float: left;
	border: 0px; 
}

.left {
	float: left;
}

.right {
	float: right;
}

.pad {
	margin: 4px;
}

.rightgap {
	padding-right: 16px;
}

/*
     FILE ARCHIVED ON 21:28:14 Jun 20, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:43:27 Nov 22, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.402
  exclusion.robots: 0.013
  exclusion.robots.policy: 0.005
  esindex: 0.006
  cdx.remote: 18.178
  LoadShardBlock: 364.341 (3)
  PetaboxLoader3.datanode: 368.033 (4)
  load_resource: 108.225
  PetaboxLoader3.resolve: 56.452
*/