
.progressbar_parent {
	
}
.progressbar_background {

}

.progressbar_wrapper {
	border: 1px solid #A0A0A0;
}
.progressbar_left {
	border: 1px solid #A0A0A0;
}
.progressbar_middle {
	border: 1px solid #A0A0A0;
}
.progressbar_right {
	border: 1px solid #A0A0A0;
}

.progressbar_text_horizontal {
	text-align: center;
	color: black;
	font-family: arial;
	font-size: 12px;
}
.progressbar_text_vertical {
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: arial;
	font-size: 8px;
}
.progressbar_marker {
	background-image: url(https://web.archive.org/web/20130426142552im_/http://www.afv.com/wp-content/themes/afv/images/marker2.png);
}
/*
     FILE ARCHIVED ON 14:25:52 Apr 26, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:03:00 Nov 22, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.73
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.014
  esindex: 0.013
  cdx.remote: 23.827
  LoadShardBlock: 137.445 (3)
  PetaboxLoader3.datanode: 174.245 (5)
  PetaboxLoader3.resolve: 296.493 (3)
  load_resource: 365.413 (2)
*/